<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1 class="display-4">MoviesApp</h1>
     <p class="lead">This is a new app movies.</p>
   </div>
</div>
<div class="container">
    <br>
    <app-gallery [moviesInput]="moviesTheatres" title="Movies in theater"></app-gallery>
    <br>
    <app-gallery [moviesInput]="popularMovies" title="Popular movies"></app-gallery>
    <br>
    <app-gallery [moviesInput]="pouparMoviesKids" title="Most popular kids movies"></app-gallery>
    <br>
</div>
